@charset "ISO-8859-1";
/*
################   1. Three ways insert css   ######################

    1.1 Inline
        <p style="color: #FF0000;"> Text </p>

    1.2 Internal
        <head>
            <style type="text/css">
                p {color: #FF0000;}
            </style>
        </head>

    1.3 External (From URL)    #############  Load slow on large web site
        <head>
            <style type="text/css">
                @import URL(style.css)
            </style>
        </head>

    1.4 External (From Local directory)
        <head>
            <link rel="stylesheet" type="text/css" href="style.css" />
        </head>
#######################################################################
 */

 tr > *
 {border: 1px solid black;
 }
 
  table
 {
border-collapse: collapse;
 }